/* ----------------------------------------- Главный Header ---------------------------------------- */
.main-header {
	position: relative;
	padding: 0 15px;
	overflow: hidden;
}

.main-header::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: var(--color-esstu-cyan);
}

.main-header_content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: var(--max-width-content-block);
	margin: 0 auto;
	padding: 25px 0;
}

.main-header_content_esseu-name {
	max-width: 75%;
}

.main-header_content_esseu-name h1 {
	color: var(--color-white);
	font-size: var(--font-size-heading-very-big);
	font-weight: 900;
	text-transform: uppercase;
	text-shadow: 1px 1px 25px var(--color-esstu-cyan);
}

.main-header_content_esseu-name p {
	margin-bottom: 5px;
	color: var(--color-esstu-cyan-light);
	font-size: var(--font-size-content-big);
	font-weight: 300;
}

.esstu-library {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	transform: translate(42%, 25px);
}

.main-logo-block {
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

.main-logo {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 2px;
}

.main-logo::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: linear-gradient(to left bottom, #34A7B7, #79958E);
}

.main-logo img {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}

/* ----------------------------------------- Главная навигация ---------------------------------------- */
.main-navigation {
	padding: 15px 2px 5px 2px;
	max-width: 100%;
	background: var(--color-white);
}

.main-navigation > ul {
	display: flex;
	justify-content: space-between;
	max-width: calc(var(--max-width-content-block) + 30px);
	margin: 0 auto;
	color: var(--color-esstu-cyan-dark);
	font-size: var(--font-size-content);
	flex-wrap: wrap;
}

.main-navigation li {
	list-style-type: none;
}

.main-navigation > ul > li {
	position: relative;
	padding-bottom: 10px;
}

.main-navigation > ul > li > span {
	display: inline-block;
	white-space: nowrap;
	padding: 10px 15px;
	cursor: default;
	border-radius: 5px;
	transition: 0.1s;
}

.main-navigation > ul > li:hover > span,
.main-navigation > ul > li:focus > span  {
	background: var(--color-esstu-cyan-light-d);
}

.main-navigation > ul > li > ul {
	display: none;
	position: absolute;
	z-index: 50;
	top: 45px;
	left: 50%;
	transform: translate(-50%);
	min-width: 100%;
	padding: 2px;
	border-radius: 5px;
	background: var(--color-white);
	border: 2px solid var(--color-esstu-cyan-light-d);
	box-shadow: 0 3px 15px #60939A36;
	transition: 0.4s;
}

.main-navigation > ul > li:hover > ul,
.main-navigation > ul > li:focus > ul {
	display: block;
}

.main-navigation > ul > li > ul a {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	padding: 5px 15px;
	margin-bottom: 2px;
	border-radius: 5px;
	color: var(--color-esstu-cyan-dark);
	text-decoration: none;
	transition: 0.1s;
}

.main-navigation > ul > li > ul a:hover {
	background: var(--color-esstu-cyan-light-d);
}

.main-navigation > ul > li > ul a:active {
	background: var(--color-esstu-cyan-light-c);
}


/* ------------------------------------------- Главная панель ----------------------------------------------- */
.main-control-panel {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	padding: 15px 0;
	background: var(--color-white);
	border-right: 2px solid var(--color-esstu-cyan-light-d);
	box-shadow: 0 3px 15px #60939A36;
	overflow: hidden;
	transition: 0.3s ease-out;
}

.main-control-panel.hidden {
	width: var(--main-control-panel-width);
}

.main-control-panel.shown {
	width: calc(var(--main-control-panel-width) + 160px);
}

/* ------- Стили основных кнопок меню ------- */
.main-panel-btn {
	display: flex;
	padding: 5px 0;
	margin: 1px 2px;
	align-items: center;
	position: relative;
	cursor: pointer;
	border-radius: 5px;
	color: var(--color-esstu-cyan-grey);
	font-size: var(--font-size-content);
	font-weight: 600;
	text-decoration: none;
	transition: 0.15s;
}

.main-panel-btn.is-menu {
	transition: 1s;
}

.main-panel-btn_icon {
	position: relative;
	width: calc(var(--main-control-panel-width) - 5px);
	height: 35px;
	transition: 0.4s;
}

.main-control-panel.hidden .main-panel-btn_icon.is-cross-icon {  /* Стили по умолчанию для иконок кнопки меню */
	position: absolute;
	top: 0;
	z-index: -1;
	opacity: 0%;
	filter: blur(3px);
	transform: rotate(-90deg);
}

.main-control-panel.shown .main-panel-btn_icon.is-bars-icon {
	opacity: 0%;
	position: absolute;
	top: 0;
	z-index: -1;
	filter: blur(3px);
}

.main-panel-btn_icon svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
	transition: 0.3s;
	opacity: 100%;
	filter: blur(0px);
	z-index: 101;
	background: var(--color-white);
}

.main-panel-btn_icon.less svg {
	width: 26px;
}

.main-panel-btn_icon path {
	fill: var(--color-esstu-cyan-grey);
	transition: 0.1s;
}

.main-panel-btn span {
	transition: 0.4s;
	position: absolute;
	left: var(--main-control-panel-width);
	user-select: none;
	white-space: nowrap;
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none;
	user-select: none;
}

.main-control-panel.hidden .main-panel-btn span {
	opacity: 0;
	transform: translateX(-100%);
}

/* Стандартные эффекты для кнопок */
.main-panel-btn:not(.current-page):hover {
	color: var(--color-esstu-cyan);
}

.main-panel-btn:not(.current-page):hover .main-panel-btn_icon path {
	fill: var(--color-esstu-cyan);
}

.main-panel-btn:not(.current-page):active {
	color: var(--color-esstu-cyan);
}

.main-panel-btn:not(.current-page):active, 
.main-panel-btn:not(.current-page):active .main-panel-btn_icon svg {
	background: var(--color-esstu-cyan-light-e);
}

/* Переопределение стилей для активной кнопки */
.main-panel-btn.current-page {
	cursor: default;
}

.main-panel-btn.current-page .main-panel-btn_icon path {
	fill: var(--color-esstu-orange);
}

.main-panel-btn.current-page span  {
	color: var(--color-esstu-orange);
}

/* ------- Кнопки настроек меню ------- */
.main-control-panel_search-n-settings {
	position: fixed;
	bottom: 15px;
}

/* Выбор языка */
.main-panel-lang-btn-block {
	display: flex;
	border-radius: 5px;
}

.main-control-panel.hidden .main-panel-lang-btn-block.opened {
	box-shadow: 0 3px 15px #60939A36;
	background: var(--color-white);
	outline: 2px solid var(--color-esstu-cyan-light-d);
}

.main-panel-btn.is-lang-settings {
	transition: 0.4s ease-out;
}

.main-panel-btn.is-lang-settings.current-lang {
	order: -3;
}

.main-control-panel.shown .main-panel-btn.is-lang-settings.current-lang path,
.main-panel-lang-btn-block.opened .main-panel-btn.is-lang-settings.current-lang path {
	fill: var(--color-esstu-orange);
}

.main-control-panel:not(.shown) .main-panel-lang-btn-block:not(.opened) .main-panel-btn.is-lang-settings:not(.current-lang) {
	position: absolute;
	z-index: -1;
	left: 0;
	transform: translateX(-165%);
}

.main-panel-btn.is-lang-settings:not(.current-lang)::before {
	content: "";
	position: relative;
	left: -2px;
	height: 100%;
	width: 2px;
	border-left: 2px solid var(--color-esstu-cyan-light-c);
}

/* Форма поиска по сайту */
.main-panel-search-btn-block {
	position: relative;
}

.search-form {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 2px;
	z-index: 151;
	opacity: 0;
	transform: translateX(-102%);
	height: 100%;
	background: var(--color-white);
	box-shadow: 0 3px 15px #60939A36;
	border-radius: 5px;
	border: 2px solid var(--color-esstu-cyan-light-d);
	transition: 0.4s;
}

.search-form.opened{
	opacity: 1;
	transform: none;
}

.search-input {
	height: 100%;
	padding: 15px 0 15px 15px;
	border: none;
	color: var(--color-esstu-cyan);
	transition: 0.2s;
}

.search-input:focus {
	outline: none;
}

.search-input::placeholder {
	color: var(--color-esstu-cyan-grey);
	opacity: 1;
	transition: 0.2s;
}

.search-input:focus::placeholder {
	opacity: 0.5;
}

.search-btn {
	position: relative;
	width: 50px;
	height: 100%;
	background: transparent;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: 0.2s;
}

.search-btn:hover svg path {
	fill: var(--color-esstu-cyan);
}

.search-btn:active {
	background: var(--color-esstu-cyan-light-e);
}

.search-btn svg {
	position: absolute;
	width: 24px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.search-btn svg path {
	fill: var(--color-esstu-cyan-grey);
}



/* ----------------------------------------- Адаптация ---------------------------------------- */

/* Небольшие мониторы */
@media only screen and (max-width: 1460px) {
	/* ---------- Навигационное меню ----------- */
	.main-navigation > ul {
		justify-content: flex-start;
	}
}

/* Планшеты и телефоны */
@media only screen and (max-width: 900px) {
	/* ---------- Шапка ---------- */
	.main-header {
		padding: 0;
	}

	.main-header_content {
		flex-direction: column;
		align-items: flex-start;
		padding: 25px 15px;
		background: linear-gradient(to top, var(--color-esstu-cyan) 5%, #fff0);
	}

	.esstu-library {
		left: 0;
		right: auto;
		transform: translate(-44%, 25px);
	}

	.main-logo-block {
		order: -2;
		margin-bottom: 15px;
	}

	.main-header_content_esseu-name {
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}

	.main-header_content_esseu-name p {
		order: 1;
		color: var(--color-esstu-cyan-light-c);
		font-size: var(--font-size-content);
		margin: 15px 0 0 0;
	}

	.main-header_content_esseu-name h1 {
		font-size: var(--font-size-heading-big);
	}
	

	/* ---------- Навигационное меню ---------- */
	.main-navigation {
		position: fixed;
		top: var(--main-control-panel-width);
		left: 0;
		right: 0;
		bottom: var(--main-control-panel-width);
		z-index: 100;
		max-height: calc(100vh - var(--main-control-panel-width));
		overflow-y: scroll;
		padding: 5px 2px;
		background: var(--color-white);
		transition: 0.4s;
	}

	.main-navigation.mobile-hidden {
		transform: translateY(calc(100%));
	}

	.main-navigation.mobile-shown {
		transform: translateY(0);
	}

	.main-navigation > ul {
		display: block;
	}

	.main-navigation > ul > li > span {
		display: block;
		white-space: nowrap;
		padding: 10px 15px;
		cursor: pointer;
		border-radius: 5px;
		transition: 0.1s;
	}

	.main-navigation > ul > li > ul {
		position: static;
		z-index: 50;
		transform: none;
		padding: 0 0 0 5px;
		margin: 5px 0 0 15px;
		border-radius: 0;
		background: transparent;
		border: none;
		border-left: 2px solid var(--color-esstu-cyan-light);
		box-shadow: none;
	}

	.main-navigation > ul > li > ul a {
		padding: 5px 10px;
	}

	/* ---------- Главная панель ---------- */
	.main-control-panel {
		top: auto;
		right: 0;
		padding: 0;
		border-right: none;
		border-top: 2px solid var(--color-esstu-cyan-light-d);
		overflow: visible;
	}
	.main-control-panel.hidden,
	.main-control-panel.shown {
		width: auto;
	}

	.main-panel-btns,
	.main-navigation-btns {
		display: flex;
	}

	.main-panel-btns {
		max-width: 420px;
		margin: 0 auto;
		justify-content: space-around;
	}

	.main-navigation-btns {
		display: contents;
	}

	.main-panel-btn.is-menu {
		order: 5;
	}

	.main-panel-btn {
		padding: 0;
	}

	.main-panel-btn span {
		bottom: 0;
		left: 0;
	}

	.main-control-panel .main-panel-btn span {
		display: none;
	}

	.main-panel-btn_icon {
		width: 50px;
		height: 50px;
	}

	.main-panel-btn_icon svg {
		background: none;
		width: 24px;
	}

	.main-panel-btn_icon.less svg {
		width: 22px;
	}


	/* ---------- Панель поиска и настроек ---------- */
	.main-control-panel_search-n-settings {
		display: flex;
		justify-content: flex-end;
		position: absolute;
		bottom: calc(100vh - var(--main-control-panel-width));
		width: 100%;
		background: var(--color-white);
		border-bottom: 2px solid var(--color-esstu-cyan-light-d);
		transform: translateY(calc(-100%));
		transition: 0.4s;
	}

	.main-control-panel.shown .main-control-panel_search-n-settings {
		transform: translateY(0);
	}

	/* Форма поиска */
	.main-panel-search-btn-block {
		position: absolute;
		left: 0;
		align-items: flex-start;
	}

	.main-panel-search-btn-block .search-form {
		left: 0;
	}

	.main-panel-search-btn-block input {
		width: calc(100vw - 53px);
	}

	/* Настройки языков */
	.main-panel-lang-btn-block {
		order: -1;
	}

	.main-panel-btn.is-lang-settings.current-lang {
		order: 2;
	}

	.main-panel-btn.is-lang-settings:not(.current-lang)::before {
		border: none;
	}

	.main-panel-lang-btn-block:not(.opened) .main-panel-btn.is-lang-settings:not(.current-lang) {
		display: none;
	}

	.main-control-panel.shown .main-panel-btn.is-lang-settings.current-lang path,
	.main-panel-lang-btn-block.opened .main-panel-btn.is-lang-settings.current-lang path {
		fill: var(--color-esstu-cyan-grey);
	}

	.main-control-panel.shown .main-panel-lang-btn-block.opened .main-panel-btn.is-lang-settings.current-lang path {
		fill: var(--color-esstu-orange);
	}

	.main-control-panel.shown .main-panel-lang-btn-block.opened {
		box-shadow: 0 3px 15px #60939A36;
		background: var(--color-white);
		outline: 2px solid var(--color-esstu-cyan-light-d);
	}
}

/* Только планшеты */
@media only screen and (min-width: 420px) and (max-width: 900px) {
	/* ---------- Шапка ---------- */
	.main-header_content {
		align-items: center;
	}

	.main-header_content p,
	.main-header_content h1 {
		text-align: center;
	}

	.esstu-library {
		left: 50%;
		transform: translate(-50%, 25px);
	}
}