/* ----------------------------------------- Блок доп. информации ---------------------------------------- */
.additional-data-block {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: var(--max-width-content-block);
	padding: 30px 0;
}

.additional-data-block {
	display: flex;
	align-items: center;
}

.history-brash-item {
	color: var(--color-esstu-cyan-dark);
	font-size: var(--font-size-content-big);
	transition: 100ms;
}

a.history-brash-item {
	padding: 5px 15px 4px 15px;
	border-radius: 5px;
	background: var(--color-esstu-cyan-light-d);
	text-decoration: none;
}

a.history-brash-item:active {
	background: var(--color-esstu-cyan-light-c);
}

.history-brash-item:not(:first-child)::before {
	content: "/";
	padding: 0 5px;
}

.date-download {
	color: var(--color-gray-9);
	font-size: var(--font-size-content);
}

/* ----------------------------------------- Доски с расписанием ---------------------------------------- */

/* ---------- Общие стили досок ------------ */

.time-table-wrapper {
	display: flex;
	width: 100%;
	height: calc(100vh - 195px);
	min-height: 300px;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto 45px auto;
	max-width: var(--max-width-content-block);
}

.time-table-block {
	position: relative;
	width: 50%;
	height: 100%;
	border-radius: 9px;
	border: 1px solid var(--color-gray-c);
}

.time-table-block:first-of-type {
	margin-right: 30px;
}

.time-table-window {
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--color-white);
	border-radius: 10px;
}

.time-table-block iframe {
	border-radius: 8px;
	border: 2px solid var(--color-gray-c);
}

.time-table-heading-block {
	background: var(--color-esstu-cyan);
	padding: 15px 10px;
	border-radius: 8px 8px 0 0;
}

.time-table-heading {
	text-align: center;
	color: var(--color-white);
	font-size: var(--font-size-heading);
}

.time-table-content-block {
	height: calc(100% - var(--font-size-heading) - 35px);
	overflow: auto;
	position: relative;
}

/* ---------- Главное меню Расписания ------------ */

.time-table-main-menu {
	max-width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.time-table-main-menu .time-table-main-menu_descr {
	display: block;
	color: var(--color-esstu-cyan);
	font-size: var(--font-size-content);
	margin-bottom: 10px;	
}

.time-table-main-menu_btn {
	cursor: pointer;
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 10px 10px;
	margin-bottom: 10px;
	font-size: var(--font-size-content);
	font-weight: 600;
	color: var(--color-esstu-cyan);
	border-radius: 8px;
	border: 2px solid var(--color-esstu-cyan);
	transition: 100ms;
}

.time-table-main-menu_btn.filled {
	color: var(--color-white);
	background: var(--color-esstu-cyan);
}

/* --------------- Форма поиска по расписанию -------------- */
.time-table-search-block {
	margin: 30px 25px;
	display: flex;
	align-items: center;
	border: 2px solid var(--color-esstu-cyan-light-c);
	border-radius: 5px;
}

.time-table-search-input:focus {
	outline: none;
	border-color: var(--color-esstu-cyan);
}

.time-table-search-input {
	box-sizing: border-box;
	padding: 10px 15px;
	width: calc(100% - 36px);
	outline: none;
	border: none;
	border-radius: 5px;
	color: var(--color-esstu-cyan-dark);
}

.time-table-search-input::placeholder {
	color: var(--color-esstu-cyan-grey);
	opacity: 0.8;
}

.time-table-search-input:focus::placeholder {
	opacity: 1;
}

.time-table-search-btn {
	cursor: pointer;
	position: relative;
	width: 36px;
	height: 36px;
}

.time-table-search-btn svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
}

.time-table-search-btn svg path {
	fill: var(--color-esstu-cyan-grey);
}

.time-table-search-btn:active svg path {
	fill: var(--color-esstu-cyan);
}

/* ----------------------------------------- Адаптация ---------------------------------------- */

/* Небольшие мониторы */
@media only screen and (max-width: 1460px) {

}

@media only screen and (max-width: 1245px) {

}

/* Планшеты и телефоны */
@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 420px) {

}